
@font-face {
    font-family: "ABCFavoritEdu-Regular";
    font-weight: regular;
    src: url("./fonts/ABCFavoritEdu-Regular.otf")
  }


body {
    background-color: blanchedalmond;
}

* {
    margin: 0;
    padding: 0;
  }
  
.container {
   padding-top: 10em;
   padding-bottom: 30em;
    display: flex;  
    justify-content: center;
    align-items: center;
    z-index: -1;
  
}
  
  p {
    font-family: "ABCFavoritEdu-Regular";
    font-size: 5em;
    color: coral;
    justify-content: center;
    align-items: center;
  }
  
  .typeText::after {
    content: "|";
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
  }
  


#datetime {
    font-family: "ABCFavoritEdu-Regular";
    font-size: 1.1em;
    color: coral;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 30px;
    text-decoration: line-through;
    z-index: 2;
    
}

#intro {
    display: flex;
    font-family: "ABCFavoritEdu-Regular";
    font-weight: 200;
    font-size: 2vw;
    color: coral;
    justify-content: center;
    align-items: center;
}

#title {
    display: flex;
    font-family: "ABCFavoritEdu-Regular";
    font-weight: 200;
    font-size: 1vw;
    color: coral;
    justify-content: center;
    align-items: center;

}


#prompt-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;

}

* {
    box-sizing: border-box;
}

.prompt {
    text-align: left;
    padding: .5em;
    margin-right: .5em;
    margin-bottom: .5em;
    font-family: "ABCFavoritEdu-Regular";
    font-weight: 200;
    font-size: 1.5em;
    color: coral;
    border: 1px solid coral;
}

.promt:hover{
    color: green;
}


/* #prompt {
    font-family: "ABCFavoritEdu-Regular";
    font-weight: 200;
    font-size: 2vw;
    color: coral;
   
} */


/* .flex-column-wrapper{
    border-bottom: 1px solid coral;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    align-items: center;
} */



#text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'PT Mono', monospace;
    font-weight: 100;
    font-size: 1vw;
    line-height: 1.2;
    color: coral;
    overflow: hidden;
    padding-top: 10em;
    padding-bottom: 10em;
}



/* button{
    display: flex;
    align-self: center;
    color:coral;
    border: 1px solid coral;
    background: transparent;
    border-radius: 50px;
    
}

button:hover{
    border: 2px dotted green;
    background-color: green;
    cursor: pointer;
} */


#button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid coral;
    width: 100px;
    height: 100px;
    border-radius: 50px;

}

#button:hover {
    background-color: rgb(249, 66, 0);
}

a {

    text-decoration: none;
    color: inherit;
    font-family: "ABCFavoritEdu-Regular";
    font-weight: 200;
    font-size: 2vw;
    color: coral;
    
}


/* 
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    background-color: blanchedalmond;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  nav a {
    text-decoration: none;
    margin: 5px 32px;
    
  }
  
  a {
   
    text-decoration: none;
    font-family: 'Space Mono', monospace;
    
  }
  
  a:hover {
    color: seagreen;
  }
  
  
  main {
    position: relative;
    z-index: 1;
    min-height: 90vh;
    padding-left: 50;
  
  }
  
  main.open {
    transform: translate(240px, 0);
  } */


  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background-color: blanchedalmond;
    color: #ffffff;
    
    font-family: "ABCFavoritEdu-Regular";
    color: coral;
    font-size: 1em;
    line-height: 1.4;
    padding: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  
  main {
    position: relative;
    z-index: 1;
    background-color: blanchedalmond;
    min-height: 100vh;
    transition: transform 0.5s;
  }
  
  main.open {
    transform: translate(300px, 0);
  }
  
  a.toggle-nav {
   position: relative;
    top: 0;
    left: 0;
    padding: 10px;
    text-decoration: none;
    font-family: "ABCFavoritEdu-Regular";
    color: coral;
  }

  h2 {
      font-family: "ABCFavoritEdu-Regular";
      color: coral;
      font-size: 1.5em;
      padding-left: 10px;
  }

  h2:hover {
      color:chocolate;
      
  }