.maincontainer {
    background-color: #dcdcdc;
	width: 100vw;
    height: 100vh;
    overflow: scroll;
    padding-bottom: 60px;
    /* background-color: #5266AD; */
}

@font-face {
    font-family: "happy-times";
    font-weight: bold;
    src: url("fonts/happy-times-NG_bold_master_web.ttf") format("truetype"),
         url("fonts/happy-times-NG_bold_master_web.woff2") format("woff"),
         url("fonts/happy-times-NG_bold_master_web.woff2") format("woff2");
  }

@font-face {
    font-family: "happy-times";
    font-weight: normal;
    src: url("fonts/happy-times-NG_regular_master_web.ttf") format("truetype"),
            url("fonts/happy-times-NG_regular_master_web.woff2") format("woff"),
            url("fonts/happy-times-NG_regular_master_web.woff2") format("woff2");
}

@font-face {
    font-family: "happy-times";
    font-weight: normal;
    font-style: italic;
    src: url("fonts/happy-times-NG_italic_master_web.ttf") format("truetype"),
            url("fonts/happy-times-NG_italic_master_web.woff2") format("woff"),
            url("fonts/happy-times-NG_italic_master_web.woff2") format("woff2");
}

h1 {
	font-family: "happy-times";
	/* font-family: 'Work Sans', sans-serif; */
	font-weight: 200; 
	font-style: italic;
	font-size: 22px;
	line-height:28px;
	margin: auto;
	padding-left: 20px;
	padding-top: 40px;
	text-align: left;
	}

	h2{
		/* font-family: acumin-pro, sans-serif; */
		font-family: "happy-times";
		font-weight: 400; 
		font-size: 14px;
		font-style: italic;
		/* line-height: 28px; */
		padding-top: 30px;
		padding-left: 70px;
		}
h3{
	/* font-family: acumin-pro, sans-serif; */
	font-family: acumin-pro, sans-serif;
	font-weight: 200; 
	font-style: normal;
	font-size: 20px;
	line-height: 36px;
	padding-top: 20px;
	padding-left: 80px;
	margin: auto;
	text-align: left;
	}		

	h4 {
		font-family: acumin-pro, sans-serif;
		font-weight: 200; 
		font-style: normal;
		font-size: 20px;
		padding-left: 80px;

	}

p {
	color: blue;
	background-color: yellow;
}

li {
	font-family: acumin-pro, sans-serif;
	font-weight: 200; 
	font-style: normal;
	font-size: 20px;
	line-height: 36px;
	padding-left: 40px;
}

ul {
	
	padding-left: 40px;
}