@font-face {
    font-family: "happy-times";
    font-weight: bold;
    src: url("fonts/happy-times-NG_bold_master_web.ttf") format("truetype"),
         url("fonts/happy-times-NG_bold_master_web.woff2") format("woff"),
         url("fonts/happy-times-NG_bold_master_web.woff2") format("woff2");
  }

@font-face {
    font-family: "happy-times";
    font-weight: normal;
    src: url("fonts/happy-times-NG_regular_master_web.ttf") format("truetype"),
            url("fonts/happy-times-NG_regular_master_web.woff2") format("woff"),
            url("fonts/happy-times-NG_regular_master_web.woff2") format("woff2");
}

@font-face {
    font-family: "happy-times";
    font-weight: normal;
    font-style: italic;
    src: url("fonts/happy-times-NG_italic_master_web.ttf") format("truetype"),
            url("fonts/happy-times-NG_italic_master_web.woff2") format("woff"),
            url("fonts/happy-times-NG_italic_master_web.woff2") format("woff2");
}


.container{
   margin: auto;
   background-color: ivory;
   width: 100vw;
   height: 100vh;
   overflow: scroll;
   padding-left: 20px;
}
/* 
.item{
	border-top: 2px solid burlywood;
	padding: 2rem 0;
} */

.heading {
    margin-left: 50px;
}

.details{
	line-height: 1.3;
    margin-left: 50px;
	color: burlywood;
	display: none;
}


.active{
	display: block;
}

button{
	font-size: 1rem;
    font-family: 'neue-haas-grotesk-display', sans-serif;
    font-weight: 200;
	font-weight: bold;
    color:burlywood;
	border: 1px solid burlywood;
	background: transparent;
	padding: 0.5rem;
    margin-left: 50px;
	margin-bottom: .5rem;
	border-radius: 5px;
    
}

button:hover{
	/* background: white; */
    border: 2px dotted #56af96;
    color: #56af96;
	cursor: pointer;
}

a:link {
    color: burlywood;
  }

a:visited {
    color: burlywood;
  }

.circle {
    height: 90px;
    width: 250px;
    border: 2px dotted #56af96;
    border-radius: 50%;
    display: inline-flex;
    padding: 20px;
    align-self: center;
}


  /* @font-face {
    font-family: "Happy";
    src: url("../fonts/happy-times-NG_bold_master_web.ttf") format("woff2"),
  } */


h1{
	color: burlywood; 
    position: relative;
    font-family: 'happy-times';
    font-weight: normal;
    font-size: 72px;
    font-style: italic;
    padding-left: 10px;
}



h2 {
    /* font-family: 'Work Sans', sans-serif; */
    font-family: 'happy-times';
    font-weight: bold;
    /* font-weight: 400;  */
    font-size: 18px;
    line-height: 22x; 
    color: #56af96;
    /* border-bottom: 3px solid yellow; */
    padding-left: 10px;
}


h3 {
    font-family: 'neue-haas-grotesk-display', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: burlywood;  
    padding-left: 10px;
}

h4 {
    font-family: 'neue-haas-unica', sans-serif;
    font-weight: 200;
    font-size: 72px;
    line-height: 92px; 
    font-weight: 300;
    color: #56af96;
    /* padding-left: 10px; */
}

.keywords {
    width: 1500px;

}


.words {
    line-height: 1.5;
    color: burlywood;
    display: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 28px;
    font-weight: 400;
    width: 1150px;
}

.item:hover .words{

	background-color: blue;

}


a{
    color: burlywood;
}
a:hover{
    color: #56af96;
}

.first {
    display: inline;
 	border: 1px dotted burlywood;
	background: transparent;
	padding: 0.5rem;
    margin-left: 50px;
	margin-bottom: .5rem;
	border-radius: 50px;
    text-align: center;
    /* border-radius: 50%; */
    size: 40px;

}

.first:hover {
    color: burlywood;
    cursor: pointer;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.second {
    display: inline-flex;
    flex-wrap: wrap;
 	border: 1px dotted burlywood;
	background: transparent;
	padding: 1rem;
    /* margin-left: 50px; */
	margin-top: .5rem;
    margin-bottom: .5rem;
	border-radius: 80px;
    text-align: center;
    /* border-radius: 50%; */
    size: 40px;
    

}

.second:hover {
    color: burlywood;
    /* background-image: url('https://www.azamara.com/sites/default/files/heros/reykjavik-iceland-1800x1000.jpg'); */
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 92px;
    padding: 2rem;
    border-radius: 100px;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    animation: tilt 1.5s ease-in infinite alternate;
}

@keyframes tilt{
    from{
        transform: rotate(5deg);
    }
    to{
        transform: rotate(-5deg);
    }
}