*{
    margin: 0;
    padding: 0;
}

.maincontainer{
    background-color: bisque;
}

@font-face {
    font-family: "happy-times";
    font-weight: bold;
    src: url("../fonts/happy-times-NG_bold_master_web.ttf") format("truetype"),
         url("../fonts/happy-times-NG_bold_master_web.woff2") format("woff"),
         url("../fonts/happy-times-NG_bold_master_web.woff2") format("woff2");
  }

@font-face {
    font-family: "happy-times";
    font-weight: normal;
    src: url("../fonts/happy-times-NG_regular_master_web.ttf") format("truetype"),
            url("../fonts/happy-times-NG_regular_master_web.woff2") format("woff"),
            url("../fonts/happy-times-NG_regular_master_web.woff2") format("woff2");
}

@font-face {
    font-family: "happy-times";
    font-weight: normal;
    font-style: italic;
    src: url("../fonts/happy-times-NG_italic_master_web.ttf") format("truetype"),
            url("../fonts/happy-times-NG_italic_master_web.woff2") format("woff"),
            url("../fonts/happy-times-NG_italic_master_web.woff2") format("woff2");
}


@font-face {
    font-family: "tiny";
    font-weight: bold;
    src: url("fonts/TINY5x3-40.woff") format("woff");
  }



.letter1{
    position: absolute;
    left: 50px;
    width:500px;
    height:500px;
    border: 1px solid black;
    overflow: hidden;
}

/* .letter2{
    position: absolute;
    width:500px;
    left: 600px;
    height:500px;
    border: 1px solid black;
    overflow: hidden;
    font-family: sans-serif;
    font-weight: 200;

} */

.letter3{
    position: absolute;
    width:500px;
    left: 1150px;
    height:500px;
    border: 1px solid black;
    overflow: hidden;
    font-family: sans-serif;
    font-weight: 200;
}


.letter2{
    position: absolute;
    width:500px;
    left: 600px;
    height:500px;
    border: 1px solid black;
    overflow: hidden;
}


.rounds{
    position: absolute;
    width: 220px;
    left: 40px;
    top: 60px;
}

.circle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    /* border: 4px dotted green; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
}

.circle .circle{ 
    width: 100px;
    height: 200px;
    background-color: white;
}

.bottom{
    margin-top: -20px;

}

.rounds > .circle{
    animation: turn 8s linear infinite;
}


@keyframes turn{
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}



.a{
    position: absolute;
    top: -220px;
    left: -50px;
    font-family: "tiny";
    font-weight: italic;
    font-size: 1300px;
    transform: rotate(15deg);
    animation: color 9s ease-in infinite;
}

@keyframes color {
    from {color: white;}
    to {color: black;}
  }


/* .o {

    position: absolute;
    top: 10px;
    left: 200px;
    font-family: serif;
    font-weight: bold;
    font-size: 800px;
    transform: rotate(60deg);
} */

.n {

    position: absolute;
    top: 10px;
    left: 100px;
    font-family: "happy-times";
    font-style: italic;
    font-size: 600px;
    animation: bounce 4s linear infinite;
}



@keyframes bounce {
    0%   { transform: translateY(10); }
    50%  { transform: translateY(-100px); }
    100% { transform: translateY(10); }
}